.default-section-aboutus {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .about-us {
    // display: flex;

    .about-us-item:not(:last-child) {
      // margin-right: 30px;
    }
  }
}

.section-headlines {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  color: $primary-text-color;

  @media screen and (min-width: 480px) and (max-width: 767px) {
    text-align: center;
  }

  .title-label {
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
  }
}

.about-us-item_img {
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-color: $background-color;
  margin-bottom: 25px;
  padding: 25px 0;

  // @media screen and (min-width: 480px) {
  //   margin-bottom: 30px;
  //   width: 450px;
  // }

  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
    width: 354px;
  }
}
