.page-header {
  position: relative;
  border-bottom: 1px solid #ececec;
  padding-top: 24px;
  padding-bottom: 25px;

  @media screen and (max-width:767px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  @media screen and (min-width:767px) and (max-width:1199px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  .flexbox {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width:767px) {
      display: block;
      text-align: center;
    }

    @media screen and (min-width:768px) and (max-width:1199px) {
      display: block;
    }
  }
}

.navigation {
  @media screen and (max-width: 767px) {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }

  @media screen and (min-width:768px) {
    display: flex;
      align-items: center;
  }

}

.logo {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  color: $primary-text-color;

  @media screen and (min-width:768px) {
    margin-right: 73px;
  }

  @media screen and (max-width: 1199px) {
    font-size: 24px;
    line-height: 1.666;
  }

  @media screen and (min-width: 1199px) {
    margin-right: 85px;
  }
}

.web-logo {
  color: $accent-text-color;
}

.menu-container {
  @media screen and (max-width: 767px) {
    display: none;
    position: absolute;
    top: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
    left: 0;
    width: 100%;
    background-color: $white-color;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }

  @media screen and (min-width:768px) {
    display: flex;
    align-items: center;
  }

  &.is-open {
    display: block;
  }
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;

  &:focus {
    outline: none;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}
